<!-- head section -->
<section class="content-top-margin page-title page-title-small border-top-light bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-12 wow fadeInUp" data-wow-duration="300ms">
              <!-- page title -->
              <h1 class="black-text">About Us</h1>
              <!-- end page title -->
          </div>
          <div class="col-lg-3 col-md-12 breadcrumb text-uppercase wow fadeInUp sm-display-none text-right" data-wow-duration="600ms">
              <!-- breadcrumb -->
              <ul>
                  <li><a routerLink="/">Home</a></li>
                  <li class="gray-text font-weight-300">About Us</li>
              </ul>
              <!-- end breadcrumb -->
          </div>
      </div>
  </div>
</section>
<!-- end head section -->


<!-- content section -->
<!-- mission -->
<section class="wow fadeIn padding-five">
  <div class="container">
      <div class="row">
          <!-- section title -->
          <div class="col-12 text-center corporate-slider ">
              <p class="sub-title orange-text letter-spacing-4 no-margin-top sm-letter-spacing-2">What we live for!</p><br>
              <span class="title-large text-uppercase font-weight-700 black-text letter-spacing-1">Our Mission</span>
          </div>
          <!-- end section title -->
      </div>
      <div class="row margin-three">
          <div class="col-12 text-center">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.s</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.</p>
          </div>
      </div>
  </div>
</section>
<!-- end mission -->

<!-- vision -->
<section class="wow fadeIn padding-five bg-very-light-gray">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 text-center corporate-slider ">
                <p class="sub-title orange-text letter-spacing-4 no-margin-top sm-letter-spacing-2">What we are looking forward to!</p><br>
                <span class="title-large text-uppercase font-weight-700 black-text letter-spacing-1">Our Vision</span>
            </div>
            <!-- end section title -->
        </div>
        <div class="row margin-three">
            <div class="col-12">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text. Lorem Ipsum has been the text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.</p>
            </div>
        </div>
    </div>
</section>
<!-- end vision -->

<!-- core values -->
<section id="features" class="features animate slow-mo even fadeIn" data-anim-type="fadeIn" data-anim-delay="200">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 text-center corporate-slider md-margin-bottom-seven">
                <p class="sub-title orange-text letter-spacing-4 no-margin-top sm-letter-spacing-2">What we are look like inside</p><br>
                <span class="title-large text-uppercase font-weight-700 black-text letter-spacing-1">Our Core values</span>
            </div>
            <!-- end section title -->
        </div>
        <div class="row margin-five">
            <!-- features grid -->
            <!-- features item -->
            <div class="col-lg-4 col-md-4 about-onepage row no-m-l no-m-r">
                <div class="col-lg-3 col-md-12  about-onepage-number position-relative overflow-hidden sm-text-center border-right md-no-border-right">
                    <span class="about-onepage-number-default orange-text font-weight-100 position-absolute sm-position-inherit">01</span>
                    <span class="about-onepage-number-hover gray-text font-weight-100 position-absolute sm-display-none">01</span>
                </div>
                <div class="col-lg-9 col-md-12 about-onepage-text">
                    <div class="about-onepage-text-sub md-no-margin-left sm-text-center">
                        <span class="black-text">Speed.</span>
                        <p class="text-med width-80 no-margin-bottom md-width-100">Lorem Ipsum is dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
            <!-- end features item -->
            <!-- features item -->
            <div class="col-lg-4 col-md-4 about-onepage row no-m-l no-m-r sm-margin-top-ten">
                <div class="col-lg-3 col-md-12 about-onepage-number position-relative overflow-hidden sm-text-center border-right md-no-border-right">
                    <span class="about-onepage-number-default orange-text font-weight-100 position-absolute sm-position-inherit">02</span>
                    <span class="about-onepage-number-hover gray-text font-weight-100 position-absolute sm-display-none">02</span>
                </div>
                <div class="col-lg-9 col-md-12 about-onepage-text">
                    <div class="about-onepage-text-sub md-no-margin-left sm-text-center">
                        <span class="black-text">Integrity.</span>
                        <p class="text-med width-80 no-margin-bottom md-width-100">Lorem Ipsum is dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
            <!-- end features item -->
            <!-- features item -->
            <div class="col-lg-4 col-md-4 about-onepage row no-m-l no-m-r sm-margin-top-ten">
                <div class="col-lg-3 col-md-12 about-onepage-number position-relative overflow-hidden sm-text-center border-right md-no-border-right">
                    <span class="about-onepage-number-default orange-text font-weight-100 position-absolute sm-position-inherit">03</span>
                    <span class="about-onepage-number-hover gray-text font-weight-100 position-absolute sm-display-none">03</span>
                </div>
                <div class="col-lg-9 col-md-12 about-onepage-text">
                    <div class="about-onepage-text-sub md-no-margin-left sm-text-center">
                        <span class="black-text">Innovation </span>
                        <p class="text-med width-80 no-margin-bottom md-width-100">Lorem Ipsum is dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
            <!-- end features item -->
            <!-- end features grid -->
        </div>
    </div>
</section>
<!-- end core values -->

<!-- statistics -->
<section id="counter"  class="bg-orange">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="col-lg-3 col-md-6 bottom-margin text-center counter-section wow fadeInUp md-margin-bottom-ten" data-wow-duration="300ms">
                <i class="icon-global medium-icon white-text"></i>
                <span id="counter4" class="counter-number white-text">30</span>
                <span class="counter-title white-text">Vendors</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-lg-3 col-md-6 bottom-margin text-center counter-section wow fadeInUp md-margin-bottom-ten" data-wow-duration="600ms">
                <i class="icon-download medium-icon white-text"></i>
                <span id="counter5" class="counter-number white-text">400</span>
                <span class="counter-title white-text">Products</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-lg-3 col-md-6 bottom-margin-small text-center counter-section wow fadeInUp sm-margin-bottom-ten" data-wow-duration="900ms">
                <i class="icon-quote medium-icon white-text"></i>
                <span id="counter6" class="counter-number white-text">10</span>
                <span class="counter-title white-text">Riders</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-lg-3 col-md-6 text-center counter-section wow fadeInUp" data-wow-duration="1200ms">
                <i class="icon-wine medium-icon white-text"></i>
                <span id="counter7" class="counter-number white-text">25</span>
                <span class="counter-title white-text">Wine</span>
            </div>
            <!-- end counter -->
        </div>
    </div>
</section>
<!-- end statistics -->

<!-- team -->
<section class="wow fadeIn padding-eight bg-white" id="about-team">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 text-center corporate-slider md-margin-bottom-seven">
                <p class="sub-title orange-text letter-spacing-4 no-margin-top sm-letter-spacing-2">Those who make things happen!</p><br>
                <span class="title-large text-uppercase font-weight-700 black-text letter-spacing-1">Our Team</span>
            </div>
            <!-- end section title -->
        </div>
        <div class="row margin-five no-margin-bottom md-no-margin-top">
            <!-- testimonials item -->
            <div class="col-lg-4 col-md-4 testimonial-style2 text-left wow fadeIn">
                <img src="assets/images/300x300.png" alt=""/>
                <span class="team-name text-uppercase black-text letter-spacing-2 display-block font-weight-600 margin-three no-margin-bottom">Alexander Harvard</span>
                <span class="team-post text-uppercase letter-spacing-2 display-block">CEO / Architect</span>
                <div class="separator-line bg-black margin-five no-margin-lr"></div>
                <p class="margin-five sm-no-margin-top width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            </div>
            <!-- end testimonials item -->
            <!-- testimonials item -->
            <div class="col-lg-4 col-md-4 testimonial-style2 text-left wow fadeIn">
                <img src="assets/images/300x300.png" alt=""/>
                <span class="team-name text-uppercase black-text letter-spacing-2 display-block font-weight-600 margin-three no-margin-bottom">Alexander Harvard</span>
                <span class="team-post text-uppercase letter-spacing-2 display-block">CEO / Architect</span>
                <div class="separator-line bg-black margin-five no-margin-lr"></div>
                <p class="margin-five sm-no-margin-top width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            </div>
            <!-- end testimonials item -->
            <!-- testimonials item -->
            <div class="col-lg-4 col-md-4 testimonial-style2 text-left wow fadeIn">
                <img src="assets/images/300x300.png" alt=""/>
                <span class="team-name text-uppercase black-text letter-spacing-2 display-block font-weight-600 margin-three no-margin-bottom">Alexander Harvard</span>
                <span class="team-post text-uppercase letter-spacing-2 display-block">CEO / Architect</span>
                <div class="separator-line bg-black margin-five no-margin-lr"></div>
                <p class="margin-five sm-no-margin-top width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            </div>
            <!-- end testimonials item -->

        </div>
    </div>
</section>
<!-- end team -->
<!-- end content section -->