<section *ngIf="!completed">
    <div class="container">
        <div class="row col-md-9 col-lg-6 center-col">
            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title padding-three padding-bottom-one font-28">PASSWORD ASSISTANCE</h3>
                <p class="black-text margin-ten no-margin-top">Please enter the e-mail address associated with your QuickWaka account. We will send you a link to this e-mail address to reset your password</p>
            </div>
            <div class="col-md-12 center-col">
                <form (ngSubmit)="reset()">
                    <div class="form-group">
                        <!-- label -->
                        <label for="email" class="font-14 black-text margin-bottom-half">Email Address</label>
                        <!-- end label -->
                        <!-- input -->
                        <input type="email" id="email" name="email" class="input-round no-margin" [(ngModel)]="User.username" 
                        [ngClass]="{'input-validation-error': fieldErrors.Username}" />
                        <span *ngIf="fieldErrors.Username" class="field-validation-error ng-hide">{{fieldErrors.Username}}</span>
                        <!-- end input -->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-orange btn-medium btn-round no-margin width-100 font-weight-700" type="submit" 
                        [disabled]="processing">
                        SEND RECOVERY EMAIL
                        <span *ngIf="processing" class="loader loader-small display-inline-block pull-right no-animate"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <a class="font-14 orange-text text-decoration-underline" routerLink="/account/signin" [queryParams]= "queryParams">Return to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section *ngIf="completed">
    <div class="container">
        <div class="row col-md-9 col-lg-6 center-col">
            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title padding-three padding-bottom-one margin-bottom-half font-28">RECOVERY EMAIL SENT!</h3>
                <p class="black-text margin-five no-margin-top font-14">Please check your email to reset your password</p>
                <div class="form-group">
                    <a class="font-14 orange-text text-decoration-underline cursor-pointer" routerLink="/account/signin" [queryParams]= "queryParams">Return to login</a>
                </div>
            </div>
        </div>
    </div>
</section>