<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body no-p-lr">

                <div class="card-body-lr-p overflow-auto" [ngClass]="{'m-b-10': !filtered}">
                <!-- Filter & Search -->
                <div class="form-group col-md-8 col-12 no-p-l m-t-10 m-b-10 sm-no-p-r search-group">
                    <!-- Filter-->
                    <div dropdown [insideClick]="true" #filterDropdown="bs-dropdown" class="display-inline-block" id="dropdown-holder" 
                    container="body" (onShown)="handleFilterOpen()">
                        <button class="btn btn-outline-orange no-m-r my-dropdown-toggle" dropdownToggle id="dropdown-filter-button"
                            aria-controls="dropdown-filter-content">
                            <i class="fa fa-filter"></i>Filter Staff
                        </button>
                        <div class="dropdown-menu dropdown-menu-left scale-up" id="dropdown-filter-content" role="menu" *dropdownMenu aria-labelledby="dropdown-filter-button">
                            <div class="m-b-15">
                                <p class="m-b-5 font-weight-400 font-14">Status</p>
                                <div class="form-check no-p-l">
                                    <label class="custom-control custom-radio">
                                        <input name="Deactivated" type="radio" class="custom-control-input" value="false" [(ngModel)]="Filter.deactivated" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Active</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input name="Deactivated" type="radio" class="custom-control-input" value="true" [(ngModel)]="Filter.deactivated" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Inactive</span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <p class="m-b-5 font-weight-400 font-14">Role</p>
                                <div class="checkbox-group">
                                    <span>
                                        <input type="checkbox" id="checkbox-role-admin" class="filled-in chk-col-light-blue" 
                                        (change)="toggleFilterRole('Admin')" [checked]="Filter.role.indexOf('Admin') > -1"/>
                                        <label for="checkbox-role-admin">Administrator</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="checkbox-role-front-desk" class="filled-in chk-col-light-blue" 
                                        (change)="toggleFilterRole('FrontDesk')" [checked]="Filter.role.indexOf('FrontDesk') > -1"/>
                                        <label for="checkbox-role-front-desk">Front Desk Operator</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="checkbox-role-rider" class="filled-in chk-col-light-blue" 
                                        (change)="toggleFilterRole('Rider')" [checked]="Filter.role.indexOf('Rider') > -1"/>
                                        <label for="checkbox-role-rider">Rider</label>
                                    </span>
                                </div>
                            </div>
                            <div class="divider dropdown-divider m-t-15 m-b-15"></div>
                            <div>
                                <button class="btn btn-default btn-sm i-rounded i-bordered" (click)="clearFilter(); filterDropdown.hide()">Reset</button>
                                <button class="btn btn-default btn-sm pull-right i-rounded i-orange no-m-r" (click)="filter(); filterDropdown.hide()">Filter</button>
                            </div>
                        </div>
                    </div>

                    <!-- Search -->
                    <input type="text" id="search" name="search" #searchText class="form-control" placeholder="Search" (input)="search(searchText.value)">
                    
                    <!-- Loading Animation -->
                    <div [hidden]="!contentLoading" id="contentLoading">  
                    <svg class="circular small" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                    </svg>
                    </div>
                </div>

                <!-- Create -->
                <div class="text-right col-md-4 col-12 m-t-10 no-p-l sm-m-b-10 sm-no-m-t">
                    <a [routerLink]="['/qm-staff/staff/add']" class="btn no-m-r pull-right i-rounded i-orange font-14 cursor-pointer md-pull-left">
                        <i class="fa fa-plus"></i>
                        New Staff
                    </a>
                </div>
                </div>

                <p class="no-m-top col-md-12 card-body-lr-p m-b-20" *ngIf="filtered">
                    <span class="filterCriteria" *ngFor="let item of FilteredElements">
                        <span class="text-capitalize">{{item.key}}</span>: <span class="font-weight-500">{{item.value}}</span>
                        <i *ngIf="item.key != 'Status'" class="fa fa-close p-l-5" (click)="removeFilter(item.key, item.index)"></i>
                    </span>
                </p>

                <!-- List of Staff -->
                <p class="col-md-12 font-13 card-body-lr-p" *ngIf="pagination.totalCount > 0">
                    Showing
                    <span class="font-weight-400">
                        {{pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)}}
                        <span *ngIf="(pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)) != pagination.totalCount">
                            -
                            <span *ngIf="pagination.currentPage * pagination.itemsPerPage < pagination.totalCount">{{pagination.currentPage * pagination.itemsPerPage}}</span>
                            <span *ngIf="pagination.currentPage * pagination.itemsPerPage >= pagination.totalCount">{{pagination.totalCount}}</span>
                        </span>
                    </span>
                    of <span>{{pagination.totalCount}}</span>
                </p>
                <div class="table-responsive col-md-12 no-p-lr">
                    <table class="table shop-cart color-table info-table table-hover">
                        <thead>
                            <tr class="sortable">
                                <th class="text-left font-weight-500 text-small">
                                    Name
                                </th>
                                <th class="text-left font-weight-500 text-small">
                                    Gender
                                </th>
                                <th class="text-left font-weight-500 text-small">
                                    Email
                                </th>      
                                <th class="text-left font-weight-500 text-small">
                                    Phone
                                </th>     
                                <th class="text-left font-weight-500 text-small">
                                    Role
                                    <!--<span class="no-animate sort-icon" *ngIf="sortKey=='role'"
                                        [ngClass]="{'fa fa-angle-up':reverse,'fa fa-angle-down':!reverse}"></span>
                                    <span class="space no-animate" *ngIf="sortKey!='role'"></span>-->
                                </th>
                                <th class="text-left font-weight-500 text-small">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Person of Staff" [routerLink]="['/qm-staff/staff/', Person.id]" class="cursor-pointer">
                                <td><a class="table-main-link">{{Person.lastName}} {{Person.firstName}}</a></td>
                                <td class="text-capitalize">{{Person.gender}}</td>
                                <td>{{Person.email}}</td>
                                <td>{{Person.phone}}</td>
                                <td>{{RoleFullNames[Person.role]}}</td>
                                <td><span class="dot" [ngClass]="{'active': Person.deactivated == false}"></span>{{Person.deactivated == false ? 'Active' : 'Inactive'}}</td>
                            </tr>
                            <tr *ngIf="Staff.length == 0 && !contentLoading"><td colspan="6">No results found</td></tr>
                        </tbody>
                    </table>
                </div>
                <p class="col-md-12 font-13 m-b-10 card-body-lr-p" *ngIf="pagination.totalCount > 0">
                    Showing
                    <span class="font-weight-400">
                        {{pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)}}
                        <span *ngIf="(pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)) != pagination.totalCount">
                            -
                            <span *ngIf="pagination.currentPage * pagination.itemsPerPage < pagination.totalCount">{{pagination.currentPage * pagination.itemsPerPage}}</span>
                            <span *ngIf="pagination.currentPage * pagination.itemsPerPage >= pagination.totalCount">{{pagination.totalCount}}</span>
                        </span>
                    </span>
                    of <span>{{pagination.totalCount}}</span>
                </p>

                <!-- Pagination Control -->
                <div class="col-xl-12 card-body-lr-p" *ngIf="pagination.totalCount > pagination.itemsPerPage">
                    <app-my-pagination [pagination]="pagination" (pageChanged)='pageChanged($event)'></app-my-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet><router-outlet>