<section class="content-section bg-gray">
    <div class="container">
        <div class="row col-md-9 col-lg-8 center-col">
            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title padding-three padding-bottom-one margin-bottom-half font-28 text-error">
                    <i class="fa fa-exclamation-triangle text-error m-r-5 font-35 display-block"></i>CHECKOUT FAILED!
                </h3>
                <p class="black-text margin-two no-margin-top font-14">Sorry, we were not able to process your orders.</p>
                <div class="form-group">
                    <a class="font-14 btn btn-orange btn-round btn-small" routerLink="/checkout">Return to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
