<div class="myModalContainer" id="purchase-items-list">
    <div class="modal-header">
        <h4 class="modal-title pull-left font-16 text-uppercase font-weight-600 letter-spacing-2">Select Items</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()" *ngIf="!showFullTransparentLoadingIndicator">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div class="modal-body">
        <!--<div class="col-md-12 p-t-5 p-b-5 button-region text-right">
            <button type="button" class="btn no-m-r cursor-pointer btn-orange btn-round btn-small no-margin" 
            [disabled]="processing || deleting" (click)="newAddress()">
                <i class="fa fa-plus no-m-l text-white"></i> Add Selected Items
            </button>
        </div>--> 
        <!-- filter section -->
        <div class="bg-gray padding-two no-padding" id="product-filter">
            <div class="container md-container-fluid">
                <div class="row">

                    <!-- Search -->
                    <div class="col-md-3 col-sm-4" >
                        <div class="icon-placeholder-region big-input bg-gray display-flex flex-grow-100 filter-item" 
                            id="button-filter-search" [ngClass]="{'selected-filter-item': Filter.searchTerm}">
                            <i class="fa fa-search margin-top-half"></i>
                            <input type="text" placeholder="Search" #searchText (input)="search(searchText.value)"
                            class="flex-grow-100 no-m-b font-14 bg-gray no-border p-l-5"  />
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="col-md-3 col-sm-4" dropdown #dropdown2="bs-dropdown">
                        <div class="icon-placeholder-region big-input bg-gray display-flex flex-grow-100 filter-item" 
                            dropdownToggle data-toggle="collapse" aria-controls="dropdown-filter-category" id="button-filter-category"
                            [ngClass]="{'selected-filter-item': Filter.category}">
                            <label class="flex-grow-100 font-14 no-margin-bottom">Category</label>
                            <i class="fa fa-chevron-down margin-top-half"></i>
                        </div>
                        <div class="collapse dropdown-menu filter-options-list p-t-5" *dropdownMenu id="dropdown-filter-category" aria-labelledby="button-filter-category">
                            <div class="form-check no-p-l">
                                <label class="custom-control custom-selector top-level p-l-15 no-m-b selected" *ngIf="topLevel">
                                    All Categories
                                </label>
                                <label class="custom-control custom-selector p-l-15 no-m-b no-m-l font-weight selected" 
                                    *ngIf="!topLevel && Category" (click)="goToParentCategory(dropdown2)">
                                    <i class="fa fa-chevron-left m-r-5 no-m-l black-text"></i>{{Category.name}}
                                </label>
                                <label class="custom-control custom-selector p-l-15 no-m-b font-14" *ngFor="let Cat of Categories" 
                                (click)="filter('category', Cat.id, dropdown2)">
                                    {{Cat.name}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Sort -->
                    <div class="col-md-3 col-sm-4" dropdown #dropdown="bs-dropdown">
                        <div class="icon-placeholder-region big-input bg-gray display-flex flex-grow-100 filter-item" 
                            dropdownToggle data-toggle="collapse" aria-controls="dropdown-filter-sort" id="button-filter-sort"
                            [ngClass]="{'selected-filter-item': Filter.sort}">
                            <label class="flex-grow-100 font-14 no-margin-bottom">Sort</label>
                            <i class="fa fa-chevron-down margin-top-half"></i>
                        </div>
                        <div class="collapse dropdown-menu filter-options-list p-t-5" *dropdownMenu id="dropdown-filter-sort" aria-labelledby="button-filter-sort">
                            <div class="form-check no-p-l">
                                <label class="custom-control custom-radio p-l-15 no-m-b">
                                    <input name="sort" type="radio" class="custom-control-input" value="" [(ngModel)]="Filter.sort" (click)="filter('sort', '', dropdown)" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Default Sort</span>
                                </label>
                                <label class="custom-control custom-radio p-l-15 no-m-b">
                                    <input name="sort" type="radio" class="custom-control-input" value="pricedesc" [(ngModel)]="Filter.sort" (click)="filter('sort','pricedesc', dropdown)" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Price high to low</span>
                                </label>
                                <label class="custom-control custom-radio p-l-15 no-m-b">
                                    <input name="sort" type="radio" class="custom-control-input" value="priceasc" [(ngModel)]="Filter.sort" (click)="filter('sort', 'priceasc', dropdown)" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Price low to high</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Price -->
                    <div class="col-md-3 col-sm-4" dropdown #dropdown3="bs-dropdown">
                        <div class="icon-placeholder-region big-input bg-gray display-flex flex-grow-100 filter-item" 
                            dropdownToggle data-toggle="collapse" aria-controls="dropdown-filter-sort" id="button-filter-price"
                            [ngClass]="{'selected-filter-item': Filter.minPrice || Filter.maxPrice}">
                            <label class="flex-grow-100 font-14 no-margin-bottom">Price</label>
                            <i class="fa fa-chevron-down margin-top-half"></i>
                        </div>
                        <div class="collapse dropdown-menu filter-options-list no-padding" *dropdownMenu id="dropdown-filter-price" aria-labelledby="button-filter-price">
                            <div class="price-slider">
                                <div class="bg-gray col-12 text-right p-t-10 p-b-10">
                                    <button class="btn btn-round btn-black btn-small no-margin text-uppercase" (click)="resetPriceRange()">Clear</button>
                                </div>
                                <div class="col-12 p-t-10 p-b-5">
                                    <label class="price-label">₦{{minValue | number}}</label>
                                    <label class="price-label f-right">₦{{maxValue | number}}</label>
                                </div>
                                <div class="col-12 p-b-10">
                                    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="priceChange($event)"></ng5-slider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end filter section -->
  
        <div class="col-12 no-p-lr no-p-t p-b-10 modal-body-container" 
        infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScroll()">  
           
            <!-- product list-->
            <div class="no-padding-top bg-white">
                <div *ngIf="Products && Products.length > 0" class="container md-container-fluid">
                    <div class="row">
                        <p class="col-12 text-center margin-one sm-margin-two">{{pagination.totalCount}} item{{pagination.totalCount > 1 ? 's': ''}} found</p>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12 grid-gallery overflow-hidden" >
                            <ul class="grid masonry-items product-items">
                                <!-- work item -->
                                <li *ngFor="let Product of Products">
                                    <figure (click)="showProduct(Product)" [ngClass]="{'product-added': itemAdded(Product)}">
                                        <div class="gallery-img">
                                            <!--<a data-toggle="modal" routerLink="item"><img [src]="Product.pictureUrl" alt=""></a>-->
                                            <img [src]="Product.pictureUrl" alt="">
                                            <div class="button-holder p-t-10 p-b-5">
                                                <button type="button" class="btn btn-orange btn-small btn-round width-100 no-margin" *ngIf="!Product.outOfStock && !itemAdded(Product)" (click)="addItem($event, Product);">Add Item</button>
                                                <button type="button" class="btn btn-black btn-small btn-round width-100 no-margin" *ngIf="itemAdded(Product)" (click)="removeItem($event, Product);">Remove Item</button>
                                                <button type="button" class="btn text-error btn-small btn-round width-100 no-margin" *ngIf="Product.outOfStock">Currently unavailable</button>
                                            </div>
                                        </div>                     
                                        <figcaption>
                                            <!--<a routerLink="item" class="text-center display-block outer-link"></a>-->
                                            <p class="black-text text-left font-weight-500 letter-spacing-1 font-14">{{Product.name}}</p>
                                            <p class="black-text text-left font-weight-700 letter-spacing-2 font-15">
                                                <!--<span class="discount">₦<span class="amount">17,000</span></span>-->
                                                ₦<span class="amount">{{Product.price | number}}</span>
                                            </p>
                                            <p class="letter-spacing-1 text-left text-transform-unset border-top-very-light p-t-5 gray-text inner-link-holder" *ngIf="Product.vendor">Sold by <a class="orange-text margin-left-one" routerLink="/vendors/{{Product.vendor.id}}" (click)="$event.stopPropagation();" target="_blank">{{Product.vendor.name}}</a></p>    
                                            <p class="letter-spacing-1 text-left text-transform-unset border-top-very-light p-t-5 gray-text inner-link-holder" *ngIf="!Product.vendor">Sold in the market</p>    
                                            <!--<button type="button" class="btn btn-orange btn-very-small btn-round margin-three" href="#">Add to Cart</button>-->
                                        </figcaption>
                                        <!--<div class="discount-marker">-12%</div>-->
                                    </figure>
                                </li>
                                <!-- end work item -->            
                            </ul>
                        </div>
                    </div>
            
                    <!--<div class="row margin-three no-margin-bottom text-center">
                        <p class="margin-one">You've viewed 30 of 300 items</p>
                        <button type="button" class="highlight-button-dark btn btn-black-bordered btn-large btn-long no-margin" href="#">Load More</button>
                    </div>-->
            
            
                <div class="bottom-preloader" [hidden]="!backgroundLoadingItems">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                    </svg>
                </div>
                </div>
            
                <div *ngIf="!Products || Products.length == 0" class="container text-center padding-four">
                    <p class="font-weight-700 font-18 text-uppercase letter-spacing-2 black-text m-b-10">No results found</p>
                    <p class="font-14 letter-spacing-1 gray-text" *ngIf="!filterActive">Check other services for what QuickWaka can do for you!!</p>
                    <p class="font-14 letter-spacing-1 gray-text" *ngIf="filterActive">Try adjusting the filters a little bit!</p>
                </div>
            </div>
            <!-- end product list -->
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-orange btn-round btn-medium width-100 no-margin font-weight-700" (click)="saveSelection()" >Save Selection</button>
    </div>

    <!-- Preloader -->
    <div class="preloader position-absolute opaque-background" [hidden]="!showFullTransparentLoadingIndicator">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
</div>
