<div class="col-12 no-p-lr">
    <h3 class="border-bottom">Change Password</h3>

    <div class="col-12 no-p-lr m-t-20">
        <form (ngSubmit)="save()">
            <div class="form-group">
                <!-- label -->
                <label for="password" class="font-14 black-text margin-bottom-half">Curent Password</label>
                <!-- end label -->
                <!-- input -->
                <input type="password" id="password" name="password" class="input-round no-margin" [(ngModel)]="User.currentPassword" 
                [ngClass]="{'input-validation-error': fieldErrors.CurrentPassword}">
                <span *ngIf="fieldErrors.CurrentPassword" class="field-validation-error ng-hide">{{fieldErrors.CurrentPassword}}</span>
                <!-- end input -->
            </div>
            <div class="form-group">
                <!-- label -->
                <label for="confirm_password" class="font-14 black-text margin-bottom-half">New Password</label>
                <!-- end label -->
                <!-- input -->
                <input type="password" id="new_password" name="new_password" class="input-round no-margin" 
                [(ngModel)]="User.newPassword" [ngClass]="{'input-validation-error': fieldErrors.NewPassword}">
                <span *ngIf="fieldErrors.NewPassword" class="field-validation-error ng-hide">{{fieldErrors.NewPassword}}</span>
                <!-- end input -->
            </div>
            <div class="form-group">
                <!-- label -->
                <label for="confirm_password" class="font-14 black-text margin-bottom-half">Confirm Password</label>
                <!-- end label -->
                <!-- input -->
                <input type="password" id="confirm_password" name="confirm_password" class="input-round no-margin" 
                [(ngModel)]="User.conFirmNewPassWord" [ngClass]="{'input-validation-error': fieldErrors.ConFirmNewPassWord}">
                <span *ngIf="fieldErrors.ConFirmNewPassWord" class="field-validation-error ng-hide">{{fieldErrors.ConFirmNewPassWord}}</span>
                <!-- end input -->
            </div>
            <div class="form-group">
                <button class="btn btn-orange btn-medium btn-round no-margin-bottom width-100 font-weight-700" type="submit" 
                [disabled]="processing">
                    CHANGE PASSWORD
                    <span *ngIf="processing" class="loader loader-small display-inline-block pull-right no-animate"></span>
                </button>
            </div>
        </form>
    </div>
</div>
