<section *ngIf="!completed">
    <div class="container">
        <div class="row col-md-9 col-lg-6 center-col">
            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title padding-three padding-bottom-one font-28">RESET PASSWORD</h3>
                <p class="black-text">Enter a new password for the QuickWaka account associated with <span class="orange-text">{{User.username}}</span></p>
            </div>

            <div class="col-md-12 m-b-20" *ngIf="fieldErrors.GeneralError">
                <div class="col-md-12 padding-two bg-error">
                    <i class="fa fa-exclamation-circle display-table-cell text-error p-r-10 font-14"></i>
                    <span class="field-validation-error display-table-cell font-14">{{fieldErrors.GeneralError}}</span>
                </div>
            </div>
            
            <div class="col-md-12 center-col">
                <form (ngSubmit)="reset()">
                    <div class="form-group">
                        <!-- label -->
                        <label for="password" class="font-14 black-text margin-bottom-half">Password</label>
                        <!-- end label -->
                        <!-- input -->
                        <input type="password" id="password" name="password" class="input-round no-margin" [(ngModel)]="User.password" 
                        [ngClass]="{'input-validation-error': fieldErrors.Password}">
                        <span *ngIf="fieldErrors.Password" class="field-validation-error ng-hide">{{fieldErrors.Password}}</span>
                        <!-- end input -->
                    </div>
                    <div class="form-group">
                        <!-- label -->
                        <label for="confirm_password" class="font-14 black-text margin-bottom-half">Confirm Password</label>
                        <!-- end label -->
                        <!-- input -->
                        <input type="password" id="confirm_password" name="confirm_password" class="input-round no-margin" 
                        [(ngModel)]="User.confirmPassword" [ngClass]="{'input-validation-error': fieldErrors.ConfirmPassword}">
                        <span *ngIf="fieldErrors.ConfirmPassword" class="field-validation-error ng-hide">{{fieldErrors.ConfirmPassword}}</span>
                        <!-- end input -->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-orange btn-medium btn-round no-margin width-100 font-weight-700" type="submit" 
                            [disabled]="processing">
                            RESET PASSWORD
                        <span *ngIf="processing" class="loader loader-small display-inline-block pull-right no-animate"></span>
                    </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row col-md-10 col-lg-8 center-col m-t-20" *ngIf="fieldErrors.InvalidToken">
            <div class="col-md-12">
            <p class="text-error text-center">Your password reset link is invalid or has expired. Please <a routerLink="/account/password/forgot" class="orange-text text-decoration-underline">click here to send a new reset link</a></p>
            </div>
        </div>
    </div>
</section>

<section *ngIf="completed">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 col-12 center-col text-center wow fadeInUp">
                <h3 class="section-title padding-three padding-bottom-one margin-bottom-half font-28">PASSWORD RESET SUCCESSFUL!</h3>
                <p class="black-text margin-five no-margin-top font-14">Your password has been reset. Please <a routerLink="/account/signin" class="orange-text text-decoration-underline">click here to Sign In.</a></p>
            </div>
        </div>
    </div>
</section>