<section class="content-section bg-gray">
  <div class="container">
      <div class="row col-md-9 col-lg-8 center-col">
          <div class="col-md-12 text-center wow fadeInUp">
              <h3 class="section-title padding-three padding-bottom-one margin-bottom-half font-28">
                <i class="fa fa-check-circle m-r-5 text-green display-block font-40"></i>CHECKOUT SUCCESSFUL!
              </h3>
              <p class="black-text no-margin-top no-m-b font-14">Your payment has been processed and your order is complete.</p>
              <p class="black-text margin-two no-margin-top font-14">Your cart number is <span class="font-16 orange-text font-weight-700 letter-spacing-1">{{CartId}}</span></p>
              <div class="form-group">
                  <button class="font-14 btn btn-orange btn-round btn-small" routerLink="/">Continue Browsing</button>
              </div>
          </div>
      </div>
  </div>
</section>
