<!-- head section -->
<section class="content-top-margin page-title page-title-small border-top-light bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text">Terms and Conditions</h1>
                <!-- end page title -->
            </div>
            <div class="col-lg-3 col-md-12 breadcrumb text-uppercase wow fadeInUp sm-display-none text-right" data-wow-duration="600ms">
                <!-- breadcrumb -->
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li class="gray-text font-weight-300">Terms and Conditions</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
  </section>
  <!-- end head section -->
