<div class="tab-pane active" id="settings" role="tabpanel" aria-expanded="true">
    <div class="card-body">
        <form class="form-horizontal" #myForm="ngForm" (ngSubmit)="save()">
            <div class="p-lr-5">
                <!-- Change Password -->
                <div class="form-group m-b-20">
                    <h3 class="box-title font-16 no-m-b" ngbAutofocus >Change Password</h3>
                    <hr class="m-t-0 m-b-15">
                </div>

                <div class="form-group display-flex">
                    <label class="control-label font-weight-300 m-b-5 label-group-three">Current Password</label>
                    <div class="flex-grow-100">
                        <input type="password" name='currentPassword' class="form-control flex-grow-100" [(ngModel)]="UserPassword.currentPassword"
                        required [ngClass]="{'input-validation-error': fieldErrors.CurrentPassword}" />
                        <span *ngIf="fieldErrors.CurrentPassword" class="field-validation-error font-12">{{fieldErrors.CurrentPassword}}</span>
                    </div>
                </div>

                <div class="form-group display-flex">
                    <label class="control-label font-weight-300 m-b-5 label-group-three">New Password</label>
                    <div class="flex-grow-100">
                        <input type="password" name='newPassword' class="form-control flex-grow-100" [(ngModel)]="UserPassword.newPassword"
                        required [ngClass]="{'input-validation-error': fieldErrors.NewPassword || fieldErrors.newPassword}" />
                        <span *ngIf="fieldErrors.NewPassword" class="field-validation-error font-12">{{fieldErrors.NewPassword}}</span>
                        <span *ngIf="fieldErrors.newPassword" class="field-validation-error font-12">{{fieldErrors.newPassword}}</span>
                    </div>
                </div>

                <div class="form-group display-flex">
                    <label class="control-label font-weight-300 m-b-5 label-group-three">Confirm Password</label>
                    <div class="flex-grow-100">
                        <input type="password" name='confirmPassword' class="form-control flex-grow-100" [(ngModel)]="UserPassword.conFirmNewPassWord"
                        required [ngClass]="{'input-validation-error': fieldErrors.ConFirmNewPassWord}" />
                        <span *ngIf="fieldErrors.ConFirmNewPassWord" class="field-validation-error font-12">{{fieldErrors.ConFirmNewPassWord}}</span>
                    </div>
                </div>

                <div class="form-group m-b-40 m-t-20 col-md-12 no-p-lr">
                    <div class="col-sm-12 text-right">
                        <button class="btn no-m-r i-rounded i-orange i-bordered i-grey-disabled" type="submit" 
                        [disabled]="processing || !myForm.form.valid">
                            Change Password
                            <span *ngIf="processing" class="loader loader-small display-inline-block ng-hide pull-right no-animate"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>